*{
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
section{
    padding: 100px;

}
.banner{
    position: relative;
    min-height: 100vh;
    background:url(pexels-vlada-karpovich-4050284.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner h2{
    font-size: 3em;
    color: #ffffff;
    font-weight:500;
    line-height: 1.5em;
}
.banner h2 span{
    font-size: 1.5em;
    font-size: 700;

}
.banner h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 500;
}
.btn{
    position: relative;
    background: #d19792;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;

}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.8s;


}
header.sticky{
    background: #e5e5e5;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .1);
}
header .logo{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;
    background: none ;
    color: #d19792;
    border: 7px solid;
    padding: 2em 3.5em;
    font-size: 2em;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .9);
    
    
}
header ul{
    position: relative;
    display: flex;

}
header ul li{
    position: relative;
    list-style: none;

}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;

}
header.sticky ul li a{
    color: black;
}
.heading{
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111111;
}

.heading h2{
   font-weight: 600;
   font-size: 30px;
}
.w50 img{
  width: 700px;
  height: 400px;
  justify-content: left;
}
.servicesBx img{
   width: 100px;
   height: 100px;
}
.content{
    display: flex;
    justify-content: space-between;
}
.constantBx h3{
    font-size: 24px;
    margin-bottom: 10px;

}
.w50{
    min-width: 50%;

}
.services{
    background: #d19792;
    justify-content: space-evenly;
}